h1{
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 25px;
  }

  p {
    padding-left: 25px;
    padding-right: 25px;
  }

#b {
    text-align: center;
}

#carousel {
    height: 300px;
}

form {
    padding: 25px;
}

a {
    align: center;
}


#container {
    position: relative;      /* Set the container to relative positioning */
    height: 100vh;           /* Full viewport height */
  }
  
  #button {
 
    text-align: center;      /* Centers the content inside the div */
  }
  
  #button a {
    padding: 10px 20px;      /* Add padding to the button */
  }
